<div class='container my-2'>
  <div class='row bg-purple border border-warning rounded'>
    <div class='col-4'>
      <strong class='text-warning'>Name:</strong>
      <p class='text-light'>
        <%= @user.name %>
      </p>
    </div>
    <div class='col-4'>
      <strong class='text-warning'>Email:</strong>
      <p class='text-light'>
        <%= @user.email %>
      </p>
    </div>
    <div class='col-4'>
      <strong class='text-warning'>User settings</strong>
      <div>
        <p class='text-light'><%= same_user? %></p>
      </div>
    </div>
  </div>

  <% if events? %>
    <div class='row d-flex justify-content-center bg-purple border border-warning rounded mt-2'>
      <h2 class='text-warning'>Your Events</h2>
    </div>
    <div class='row bg-purple border border-warning rounded'>
      <div class='col-3 border-right border-warning text-center'>
        <h3 class='text-warning'>Artist</h3>
      </div>
      <div class='col-3 border-right border-warning text-center'>
        <h3 class='text-warning'>Location</h3>
      </div>
      <div class='col-4 border-right border-warning text-center'>
        <h3 class='text-warning'>Description</h3>
      </div>
      <div class='col-2 text-center'>
        <h3 class='text-warning'>Settings</h3>
      </div>
    </div>
    <% @event.each do |event| %>
      <div class='row border border-warning rounded'>
        <div class='col-3 p-2 border-right border-warning text-center bg-light'>
          <%= event.artist %>
        </div>
        <div class='col-3 p-2 border-right border-warning text-center bg-light'>
          <%= event.location %>
        </div>
        <div class='col-4 p-2 border-right border-warning text-center bg-light'>
          <%= event.description %>
        </div>
        <div class='col-2 p-2 text-center bg-light'>
          <%= link_to 'See it', event_path(event.id),class:'btn btn-warning p-2'%>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if events_future? %>
    <div class='row d-flex justify-content-center bg-purple border border-warning rounded mt-2'>
      <h2 class='text-warning'>Up Coming Events!!! So Exiting</h2>
    </div>
    <div class='row bg-purple border border-warning rounded'>
      <div class='col-3 border-right border-warning text-center'>
        <h3 class='text-warning'>Artist</h3>
      </div>
      <div class='col-3 border-right border-warning text-center'>
        <h3 class='text-warning'>Location</h3>
      </div>
      <div class='col-3 border-right border-warning text-center'>
        <h3 class='text-warning'>Description</h3>
      </div>
      <div class='col-3 text-center'>
        <h3 class='text-warning'>Date</h3>
      </div>
    </div>
    <% @future_event.each do |event| %>
      <div class='row border border-warning rounded'>
        <div class='col-3 p-2 border-right border-warning d-flex justify-content-center align-items-center bg-light'>
          <%= event.artist %>
        </div>
        <div class='col-3 p-2 border-right border-warning d-flex justify-content-center align-items-center bg-light'>
          <%= event.location %>
        </div>
        <div class='col-3 p-2 border-right border-warning d-flex justify-content-center align-items-center bg-light'>
          <%= event.description %>
        </div>
        <div class='col-3 p-2 bg-light'>
          <div class='row'>
            <div class='col-6 border-right border-warning'>
              <p>
                Start Date
              </p>
                <%= event.start_date %>
            </div>
            <div class='col-6'>
              <p>
                End Date
              </p>
                <%= event.end_date %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if events_past? %>
    <div class='row d-flex justify-content-center bg-purple border border-warning rounded mt-2'>
      <h2 class='text-warning'>Past Events!!! Do You Enjoy it?</h2>
    </div>
    <div class='row bg-purple border border-warning rounded'>
      <div class='col-3 border-right border-warning text-center'>
        <h3 class='text-warning'>Artist</h3>
      </div>
      <div class='col-3 border-right border-warning text-center'>
        <h3 class='text-warning'>Location</h3>
      </div>
      <div class='col-3 border-right border-warning text-center'>
        <h3 class='text-warning'>Description</h3>
      </div>
      <div class='col-3 text-center'>
        <h3 class='text-warning'>Date</h3>
      </div>
    </div>
    <% @past_event.each do |event| %>
      <div class='row border border-warning rounded'>
        <div class='col-3 p-2 border-right border-warning d-flex justify-content-center align-items-center bg-light'>
          <%= event.artist %>
        </div>
        <div class='col-3 p-2 border-right border-warning d-flex justify-content-center align-items-center bg-light'>
          <%= event.location %>
        </div>
        <div class='col-3 p-2 border-right border-warning d-flex justify-content-center align-items-center bg-light'>
          <%= event.description %>
        </div>
        <div class='col-3 p-2 bg-light'>
          <div class='row'>
            <div class='col-6 border-right border-warning'>
              <p>
                Start Date
              </p>
                <%= event.start_date %>
            </div>
            <div class='col-6'>
              <p>
                End Date
              </p>
                <%= event.end_date %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>