<div class='container my-2'>
  <div class='row bg-purple border border-warning rounded'>
    <div class='col-4'>
      <strong class='text-warning'>Name:</strong>
      <p class='text-light'>
        <%= @user.name %>
      </p>
    </div>
    <div class='col-4'>
      <strong class='text-warning'>Email:</strong>
      <p class='text-light'>
        <%= @user.email %>
      </p>
    </div>
    <div class='col-4'>
      <strong class='text-warning'>User settings</strong>
      <div>
        <p class='text-light'><%= link_to 'Edit', edit_user_path(@user), class:'text-light' %> | <%= link_to 'Back', root_path, class:'text-light'  %></p>
      </div>
    </div>
    
  </div>
  <div class='row d-flex justify-content-center bg-purple border border-warning rounded mt-2'>
    <h2 class='text-warning'>Your Events</h2>
  </div>
  <div class='row bg-purple border border-warning rounded'>
    <div class='col-3 border-right border-warning text-center'>
      <h3 class='text-warning'>Artist</h3>
    </div>
    <div class='col-3 border-right border-warning text-center'>
      <h3 class='text-warning'>Location</h3>
    </div>
    <div class='col-4 border-right border-warning text-center'>
      <h3 class='text-warning'>Description</h3>
    </div>
    <div class='col-2 text-center'>
      <h3 class='text-warning'>Attendance</h3>
    </div>
  </div>

  <% @event.each do |event| %>
    <div class='row border border-warning rounded'>
      <div class='col-3 p-2 border-right border-warning'>
      </div>
      <div class='col-3 p-2 border-right border-warning'>
        <%= event.location %>
      </div>
      <div class='col-4 p-2 border-right border-warning'>
        <%= event.description %>
      </div>
      <div class='col-2 p-2'>
      </div>
    </div>
  <% end %>

  
</div>