<div class='container mt-2'>
  <div class='d-flex justify-content-center bg-purple border border-dark'>
    <h1 class='text-light'>Concerts</h1>
  </div>

  <div class='border border-dark container'>
    <div class='row'>
      <div class='d-flex justify-content-center align-items-center col-3 border border-dark bg-purple'>
        <h3 class='text-white'>Artists</h3>
      </div>
      <div class='d-flex justify-content-center align-items-center col-3 border border-dark bg-purple'>
        <h3 class='text-white'>Location</h3>
      </div>
      <div class='d-flex justify-content-center align-items-center col-4 border border-dark bg-purple'>
        <h3 class='text-white'>Description</h3>
      </div>
      <div class='d-flex justify-content-center align-items-center col-2 border border-dark bg-purple'>
        <h3 class='text-white'>Do U Wanna join?</h3>
      </div>
    </div>
    <% @events.each do |event| %>
      <div class='row border'>
        <div class='d-flex justify-content-center align-items-center col-3 border'>
          <%= event.artist %>
        </div>
        <div class='d-flex justify-content-center align-items-center col-3 border'>
          <p>
            <%= event.location %>
          </p>
        </div>
        <div class='d-flex flex-column justify-content-center align-items-center col-4 border'>
          <p>
            <%= event.description %>
          </p>
          <div>
            <p>
            
            <%= link_to 'Edit', edit_event_path(event), class:'btn btn-warning p-1' %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-warning p-1' %>
            </p>
          </div>
        </div>
        <div class='d-flex justify-content-center align-items-center col-2 border'>
            <%= link_to 'See More', event, class:'btn btn-warning p-1' %>
        </div>
      </div>
    <% end %>
  </div>

 


  <br>
</div>
