<!DOCTYPE html>
<html>
  <head>
    <title>ButacaVip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='back-ground'>
    <%= flash_message %>
    <nav class='navbar navbar-dark bg-purple'>
      <div class='d-flex justify-content-between aling-items-baseline'>
        <%= image_tag('logo1.png')%>
        <%= link_to 'Butaca Vip', root_path, class:'logo-butaca text-warning pt-2'%>
      </div>
      <div class='d-flex justify-content-between border-right border-left border-warning'>
        <div class='mx-1'>
          <span class='icon text-warning'><i class="fas fa-home" aria-hidden='true'></i></span>
          <%= link_to 'Home', root_path, class:'logo-butaca text-warning font-weight-bolder px-2' %>
        </div>
        <div class='mx-1 border-left border-warning px-2'>
          <%= link_to 'Our Butackeros', users_path, class:'logo-butaca text-warning font-weight-bolder' %>
        </div>
      </div>
      <div class='d-flex justify-content-between aling-center'>
        <% if current_user %>
          <%= link_to current_user.name, user_path(current_user.id), class: 'bg-light text-dark p-2 border rounded' %>.
          <%= link_to 'New Event', new_event_path,  class: 'btn btn-warning mx-3 text-dark' %>
          <%= link_to "Log Out", logout_path, class: 'btn btn-dark' %>
        <% else %>
          <%= link_to "Sign Up", signup_path, class: 'btn btn-dark' %> or
          <%= link_to "Log In", login_path, class: 'btn btn-dark' %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
